body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
   text-align: center !important;
  vertical-align: middle !important;
  
}
th {
  background: #f0f0f0;
}

tr:hover {
  background: #fafafa;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 14px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}